<!DOCTYPE HTML>
<html>

<body>
    <form id="sensor_form">
        <label>Sensor id:</label>
        <input type="text" id="sensor_id" name="sensor_id" />
        <br />
        <input type="submit" value="submit" />
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $('#sensor_form').submit(function (e) {
            e.preventDefault();

            var data = {};
            var Form = this;

            // jquery loop through all form data
            // $.each(this.elements, function (i, v) {
            //     var input = $(v);
            //     data[input.attr("name")] = input.val();
            //     delete data["undefined"];
            // });

            // select with vanilla js then pass it to jquery
            // selector = document.getElementsByName('first_name');
            // element = $(selector);
            // data.first_name = element.val()

            // vanilla javascript method to get value by name
            data.sensor_id = document.getElementsByName('sensor_id')[0].value

            // jquery way to access form data by id
            // console.log('sensor_id: ', $("#sensor_id").val())

            // jquery method to get value by name
            // data.first_name = $('[name=first_name]').val()
            // data.last_name = $('[name=last_name]').val()
            data.day_week = "Friday"
            console.log(data)

            $.ajax({
                type: 'POST',
                url: '/api/sensor_post',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                context: Form,
                success: function (callback) {
                    console.log(callback)
                    console.log(callback.result);
                    console.log(callback.result.sensor_id)
                    result = callback.result
                    error = result.error
                    // Watch out for Cross Site Scripting security issues when setting dynamic content!
                    if (!error) {
                        $(this).text('Sensor id set to: ' + result.sensor_id);
                    } else {
                        $(this).text('Error: ' + error);
                    }
                },
                error: function () {
                    $(this).html("error!");
                }
            });
        });
    </script>
</body>

</html>